{% extends "layout.njk"  %}

{% block head %}
        <title>Criar Badge</title>
        <link rel="stylesheet" href="/styles/create.css">
{% endblock %}


{% block content %}
    
    <main>
        <form action="/create-Badge" method="POST">

            <div class="nameGit">
                <h2>Username do GitHub:</h2>
                <input type="text" name="nameGit" id="nameGit" placeholder="maykbrito">
                <small>Ex: https://github.com/<span>maykbrito</span></small>
            </div>

            <div class="links">
                <h2>Username das redes sociais:</h2>
                <div class="link">
                    <input type="text" name="linkYou" class="linkYou"  placeholder="Ex: maykbrito">
                    <input type="text" name="linkInst" class="linkInst" placeholder="Ex: maykbrito">
                    <input type="text" name="linkFace" class="linkFace" placeholder="Ex: maykbrito">
                    <input type="text" name="linkTwi" class="linkTwi" placeholder="Ex: @maykbrito">
                </div>
            </div>

            <button type="submit">Gerar Badge</button>

        </form>
    </main>
{% endblock %}