{% extends "layout.njk"  %}

{% block head %}
        <title>Cadastro da Badge</title>
        <link rel="stylesheet" href="/styles/index.css">
{% endblock %}


{% block content %}
    
    <main>
        <div class="container">

                <div class="content">
                    <h2>Cadastre ja seu Badge do evento</h2>

                    <div class="link">
                        <img src="/img/github 1.svg" alt="Logo github">
                        <a href="/Create-Badge">Quero criar minha Badge</a>
                    </div>
                </div>

        </div>
    </main>

{% endblock %}