<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
        <title>Badge DoWhile2021</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles/globla.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    
    
</head>
<body>

    {% block content %}{% endblock %}

    <footer>

        <embed src="/img/LogoDoWhile2021.svg">

        <p>DoWhile2021 – Um evento online e gratuito onde vamos construir o futuro através da programação.</p>

        <a href="https://dowhile.io/inscricao?utm_source=nlw?utm_medium=organic?utm_campaign=captacao_dw21?utm_term=aulas?utm_content=banner">Saiba mais</a>

    </footer>

</body>
</html>